</head>
<body>

<style>
  .navbar {
    display: flex;
    gap: 2rem;
    padding: 0 2rem;
    height: 40px;
    line-height: 40px;
    width: 100%;
    background-color: rgb(167, 214, 204);
    font-family: 'Segoe UI', sans-serif;
  }

  .navbar a {
    color: darkviolet;
    text-decoration: none;
    padding: 4px 10px;
    border-radius: 6px;
    transition: 0.3s, border 0.3s;
  }

  .navbar a.active {
    border: 2px solid darkviolet;
    background-color: lavender;
  }

  .navbar a:hover {
    background-color: rgba(230, 230, 250, 0.6);
  }
</style>

<div class="navbar">
  <a href="/" class="<%= currentPage === '/' ? 'active' : '' %>">Index</a>
<%if(isLoggedIn){%>

  <a href="/host/airbnb-home" class="<%= currentPage === '/host/airbnb-home' ? 'active' : '' %>" >Add Home</a>
  <a href="/bookings" class="<%= currentPage === '/bookings' ? 'active' : '' %>">Bookings</a>
  <a href="/homes" class="<%= currentPage === '/homes' ? 'active' : '' %>">Home-List</a>
  <a href="/favourite-list" class="<%= currentPage === '/favourite-list' ? 'active' : '' %>">Favourites</a>
  <a href="/host/host-homes" class="<%= currentPage === '/host/host-homes' ? 'active' : '' %>">Host Homes</a>
<%}%>
  <a href="/login-page" class="<%= currentPage === '/login-page' ? 'active' : '' %>">
    <%if(isLoggedIn){%>
      Logout
   <% }else{%>
      Login
   <% }%>
  </a>
</div>
